@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button:focus {
  outline: none;
}

.shake-top {
  -webkit-animation: shake-top 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s infinite both;
  animation: shake-top 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s infinite both;
}

@-webkit-keyframes shake-top {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
.alert {
  color: #ff0d0d;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header-block {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}
.header-block__flex {
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.header-block__left, .header-block__right {
  display: flex;
  align-items: center;
}
.header-block__left {
  content: "▼";
  padding-left: 8px;
}
.header-block__left summary {
  height: 37px;
  width: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.35px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}
.header-block__left summary::-webkit-details-marker {
  display: none;
}
.header-block__left summary::after {
  content: "▼";
  padding-left: 8px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 37px;
  color: #222222;
  font-size: 27px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.68px;
}
.logo__img {
  margin-right: 13px;
}

.browse-menu {
  position: absolute;
  width: 262px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 7px 13px 0 13px;
  z-index: 10;
}
.browse-menu p {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
}
.browse-menu li > a {
  color: #4f4f4f;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-transform: none;
}
.browse-menu ul {
  padding: 13px 13px 13px 7px;
}

.form {
  display: flex;
  align-items: center;
  position: relative;
}
.form > input {
  width: 263px;
  height: 37px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding-left: 16px;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
}
.form > button {
  width: 39px;
  height: 39px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  color: #a4a4a4;
}
.form > button:hover {
  cursor: pointer;
  box-shadow: 0 1px 2px #debaff;
}

.cart {
  padding: 12px;
  margin-right: 14px;
}
.cart-block {
  position: relative;
}
.cart-block:hover .cart-open {
  display: block;
}
.cart-open {
  display: none;
  position: absolute;
  top: 55px;
  left: -10px;
  width: 262px;
  height: fit-content;
  border: 1px solid #ececec;
  border-radius: 5px;
  background-color: #ffffff;
}
.cart-open__empty {
  font-size: 18px;
  color: #f16d7f;
  padding: 10px;
  text-align: center;
  font-weight: 700;
}
.cart-open-total-price {
  border: none;
  color: #222222;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.cart-product {
  display: flex;
  flex-direction: column;
  padding: 4px 15px;
}
.cart-product > div {
  display: flex;
  border-bottom: 1px solid #ececec;
  padding: 16px 0 10px 0;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 24px;
  justify-content: space-between;
}
.cart-product > div:last-child {
  border: none;
  font-size: 16px;
}
.cart-product > div > div {
  padding: 0 55px 0 14px;
}
.cart-product > div > div a {
  color: #222222;
}
.cart-product > div > div i {
  color: #e4af48;
}
.cart-cancel {
  color: #c0c0c0;
  line-height: 85px !important;
  border: none;
  background: none;
}
.cart-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-btn a {
  width: 225px;
  display: block;
  border: 1px solid #eaeaea;
  line-height: 50px;
  text-align: center;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.cart-btn a:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
}

.header-block__right summary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  color: #ffffff;
  border: none;
}
.header-block__right summary:hover {
  cursor: pointer;
  box-shadow: 0 1px 2px #ff7ff8;
}
.header-block__right summary > i {
  padding: 0 0 5px 8px;
  font-size: 14px;
}
.header-block__right summary::-webkit-details-marker {
  display: none;
}
.header-block__right summary::after {
  content: "▼";
  padding-left: 8px;
}

.brows-account-menu {
  position: absolute;
}

.nav-top {
  background-color: #ffffff;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}
.menu__link {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 16px 22px;
}
.menu__list {
  position: relative;
}
.menu__list:hover .hide-nav {
  display: flex;
}

.hide-nav {
  display: none;
  position: absolute;
  justify-content: space-between;
  width: 804px;
  top: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #e8e8e8;
}
.hide-nav::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  transform: rotate(45deg);
  top: -7px;
  left: 45px;
}
.hide-nav div {
  width: 255px;
}
.hide-nav ul {
  margin-left: 20px;
}
.hide-nav p {
  border-bottom: 1px solid #e8e8e8;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  margin-left: 17px;
}
.hide-nav a {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
}
.hide-nav-man {
  left: -15px;
}
.hide-nav-women {
  left: -90px;
}
.hide-nav-women::before {
  left: 130px;
}
.hide-nav-kids {
  left: -190px;
}
.hide-nav-kids::before {
  left: 215px;
}
.hide-nav-accoriese {
  left: -260px;
}
.hide-nav-accoriese::before {
  left: 315px;
}
.hide-nav-featured {
  left: -390px;
}
.hide-nav-featured::before {
  left: 440px;
}
.hide-nav-hot {
  left: -500px;
}
.hide-nav-hot::before {
  left: 550px;
}

.promo {
  height: 613px;
  background-color: #e8e8e8;
  margin-bottom: 98px;
}
.promo__flex {
  height: 100%;
  background-image: url(../img/promo_back.jpg);
  background-position: 0 -52px;
  display: flex;
  align-items: center;
}
.promo__content {
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}
.promo__text {
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 31px;
}
.promo__text_big {
  font-size: 60px;
  line-height: 43px;
  margin-bottom: 20px;
}

.pink {
  color: #f16d7f;
}

.category {
  height: 828px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.baner {
  width: 560px;
}
.baner-1 {
  background-image: url("../img/Layer_30.png");
  height: 542px;
}
.baner-2 {
  background-image: url("../img/Layer_37.png");
  height: 260px;
}
.baner-3 {
  background-image: url("../img/Layer_32.png");
  height: 260px;
}
.baner-4 {
  background-image: url("../img/Layer_31.png");
  height: 542px;
}

.badge {
  background-color: #ffffff;
  display: inline-block;
  margin-top: 26px;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

.pink-badge {
  font-size: 30px;
  letter-spacing: 0.75px;
}

.product-pic {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}
.product-pic-price {
  position: relative;
  transition: all 0.3s;
}
.product-pic-price:hover .mask {
  display: flex;
}
.product-pic-price:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  transform: scale(1.05);
}
.product-pic-price:hover .product-img {
  filter: brightness(50%);
}

.product-list {
  margin-bottom: 39px;
  text-align: left;
}

.product-block {
  text-align: center;
}
.product-block > h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.75px;
}
.product-block > p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  margin-bottom: 59px;
}

.product-price {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px;
  letter-spacing: 0.5px;
}

.price {
  font-size: 16px;
  font-weight: 700;
  line-height: 37px;
}

.mask {
  display: none;
  position: absolute;
  text-align: center;
  top: 98px;
  left: 70px;
  z-index: 1;
}
.mask > button {
  display: flex;
  border: 2px solid #ffffff;
  width: 123px;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  height: 39px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 39px;
  padding-left: 8px;
}

.product-img {
  width: 261px;
  height: 279px;
}

.browse-all {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin-bottom: 110px;
  margin-top: 14px;
}
.browse-all:hover {
  box-shadow: 0 1px 2px #ff54cc;
  -webkit-transform: rotate(360deg);
  transition: 3s;
}
.browse-all:active {
  box-shadow: 0 2px 2px #FF6AC5;
}

.feature {
  height: 530px;
  display: flex;
  text-align: left;
}
.feature-banner {
  background-image: url("../img/4-layers.jpg");
  width: 767px;
}
.feature-banner-text {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-left: 39px;
  padding-top: 134px;
}
.feature-banner-text > p + p {
  font-size: 32px;
  letter-spacing: 1.5px;
}
.feature-box {
  width: 373px;
  background-image: url("../img/Background-feature.svg");
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.feature-box-text {
  padding-left: 33px;
}
.feature-box-text li {
  font-size: 14px;
  line-height: 25px;
}
.feature-box-text > ul > li:first-child {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.delivery, .sales, .quality {
  display: flex;
  align-items: start;
  color: #fbfbfb;
  padding: 0 35px;
}

.subscribe {
  background-image: url("../img/subscribe-bg.jpg");
  margin-top: 100px;
  margin-bottom: 110px;
  display: flex;
  justify-content: center;
  height: 438px;
  background-position-x: -10px;
  background-position: center;
  background-repeat: no-repeat;
}
.subscribe-right {
  width: 570px;
  border-left: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe-right > form {
  padding-top: 35px;
}
.subscribe-right > form > input {
  width: 256px;
  height: 46px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  padding-left: 28px;
  border: none;
}
.subscribe-right > form > button {
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  border: none;
}
.subscribe-right > form > button:hover {
  border: 1px solid #3f38ff;
  box-shadow: 0 0 2px #b83cff;
}
.subscribe-slider {
  width: 570px;
  display: flex;
  align-items: center;
}
.subscribe-info {
  text-align: center;
  color: #222224;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.subscribe-info > p + p {
  font-size: 14px;
  letter-spacing: 0.35px;
  padding-top: 18px;
}

.slider-text {
  display: flex;
  margin-bottom: 76px;
}
.slider-text > div {
  margin-right: 30px;
}
.slider-text > div > img {
  border-radius: 50%;
}
.slider-text > div + div > p {
  color: #222224;
  font-style: italic;
  padding-right: 28px;
  padding-bottom: 17px;
  line-height: 26px;
}
.slider-text > div + div > p + p {
  font-weight: 700;
  letter-spacing: 0.4px;
  font-style: normal;
  color: #f16d7f;
  padding: 0;
  line-height: 14px;
}
.slider-text > div + div > p + p + p {
  font-size: 12px;
  letter-spacing: 0.3px;
  font-style: normal;
  font-weight: 300;
  color: #222224;
  padding: 0;
  line-height: 14px;
}

.footer {
  height: 428px;
}
.footer-logo {
  padding-bottom: 18px;
}
.footer-top {
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.footer-top:last-child {
  padding-right: 42px;
}
.footer-top__right {
  display: flex;
  justify-content: start;
  width: 670px;
}
.footer li > a {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 42px;
  text-transform: none;
}
.footer-end {
  background-image: url("../img/Background-footer.svg");
  height: 79px;
}
.footer-end > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-end p {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 79px;
}

.brend-text {
  width: 430px;
}

.text-footer {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.company-footer, .informaion-footer, .category-footer {
  font-size: 18px;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  width: 235px;
  padding-left: 24px;
}

.social-footer {
  display: flex;
}
.social-footer a > i {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-left: 8px;
  justify-content: center;
  align-items: center;
  color: #b2b2b2;
}
.social-footer a > i:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
}
.social-footer a > i:visited {
  background-color: #7a7a7a;
}

/* страница продукции */
.product-main {
  margin-top: 59px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

.product-breadcrumb {
  background-color: #f8f3f4;
}

.breadcrumb {
  font-size: 14px;
  color: #636363;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 148px;
}
.breadcrumb-block {
  display: flex;
  justify-content: space-between;
  line-height: 148px;
}
.breadcrumb-name {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 148px;
}
.breadcrumb:hover {
  color: #f16d7f;
}

.product-nav {
  width: 243px;
  padding-right: 50px;
}
.product-nav summary {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 37px;
  text-transform: uppercase;
}
.product-nav summary::-webkit-details-marker {
  display: none;
}
.product-nav summary::after {
  content: "▼";
  font-size: 10px;
}
.product-nav ul {
  padding: 22px 17px;
}
.product-nav a {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
}
.product-nav details {
  padding-bottom: 18px;
}
.product-nav details[open] > summary {
  color: #f16d7f;
}
.product-nav details[open] > summary::after {
  content: "▼";
  font-size: 10px;
}

.product-catalog {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.trending-check {
  width: 265px;
}
.trending-check input {
  display: none;
}
.trending-check label {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding: 0 8px;
  border-right: 1px solid #dfdfdf;
}
.trending-check p {
  margin-bottom: 18px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.trending-check div {
  margin-left: -8px;
}
.trending-check div > ul {
  display: flex;
  flex-direction: row;
}
.trending-check div > ul > li:last-child label {
  border: none;
}

#Bohemian:checked ~ label,
#Floral:checked ~ label,
#Lace:checked ~ label,
#Floral-2:checked ~ label,
#Lace-2:checked ~ label,
#Bohemian-2:checked ~ label {
  background-color: #f16d7f;
  color: #ffffff;
}

.size-check {
  width: 265px;
}
.size-check > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 49px;
}
.size-check p {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.size-check label {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0;
}

.price-check {
  width: 263px;
  height: 73px;
  border: 1px solid red;
}

.product-sort {
  padding: 10px;
  background-color: #f3f3f3;
  margin-bottom: 48px;
}
.product-sort button {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  background-color: #ffffff;
  border: none;
  padding: 0 10px;
}
.product-sort button:hover {
  background-color: #f16d7f;
  color: #ffffff;
}
.product-sort button:active {
  background-color: #f14658;
  color: #ffffff;
}
.product-sort select {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  border: none;
  padding: 0 10px;
  margin-right: 10px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("../img/arrow-down.svg") 90%/15% no-repeat #fff;
  width: 70px;
}

.view-all {
  width: 212px;
  font-size: 16px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.4px;
  border-radius: 3px;
  border: 1px solid #f16d7f;
  background-color: #ffffff;
}
.view-all:hover {
  background-color: #f16d7f;
  color: #ffffff;
}
.view-all:first-letter {
  text-transform: uppercase;
}

.product-pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  padding: 0 15px;
}
.pagination:last-child {
  letter-spacing: 0;
}
.pagination a {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 10px;
}

.feature-box-catalog {
  background-color: #222224;
  height: 341px;
  display: flex;
  align-items: center;
}

.feature-box-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-box-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
}
.feature-box-content > div > div {
  padding: 0;
  width: 310px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.single-page-slider {
  height: 775px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-nav {
  width: 47px;
  height: 47px;
  line-height: 47px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  opacity: 0.5;
  border: none;
  background: #2a2a2a;
}
.slider-nav:hover {
  background: #101010;
  cursor: pointer;
}

.decripsion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 45px 250px 120px 250px;
  text-transform: uppercase;
  font-size: 14px;
  color: #4d4d4d;
}
.decripsion-product {
  margin-top: -78px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  position: relative;
}
.decripsion > p:nth-child(1) {
  line-height: 48px;
  font-weight: 700;
}
.decripsion > p:nth-child(2) {
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  padding-bottom: 51px;
}
.decripsion > p:nth-child(3) {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-transform: none;
}
.decripsion > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 535px;
  border: 1px solid #f16d7f;
  background-color: #ffffff;
  line-height: 55px;
  font-size: 16px;
  font-weight: 700;
}
.decripsion > button > img {
  padding: 15px;
}
.decripsion > button:hover {
  opacity: 0.5;
  box-shadow: 0 2px 2px #ff7ff8;
}
.decripsion > button:active {
  opacity: 1;
  box-shadow: 0 2px 2px #ff7ff8;
}

.specifications {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.specifications > div {
  padding: 22px;
}
.specifications p {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}
.specifications span {
  color: #2f2f2f;
}

.price-product {
  font-size: 24px;
  padding-bottom: 43px;
  line-height: 24px;
  border-bottom: 1px solid #eaeaea;
}

.select-product {
  padding-top: 47px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
  width: 535px;
}
.select-product p {
  color: #2f2f2f;
  font-weight: 700;
  line-height: 46px;
  text-align: left;
}

.selector-product {
  width: 144px;
  height: 35px;
  padding: 0 15px;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.selector-product > option[label=red] {
  background: red;
  background-size: 12px 12px;
}
.selector-product > option[label=black] {
  background-color: black;
}
.selector-product > option[label=blue] {
  background-color: blue;
}
.selector-product > option[label=pink] {
  background-color: pink;
}
.selector-product > option[label=green] {
  background-color: green;
}
.selector-product > option[label=navy] {
  background-color: navy;
}

.color-choose {
  width: 12px;
  height: 12px;
  background-color: red;
}

.shopping-cart {
  padding-top: 70px;
}

.cart-table {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border-collapse: collapse;
  color: #222222;
  margin-bottom: 44px;
}
.cart-table-description {
  display: flex;
}
.cart-table-description img {
  padding-right: 20px;
}
.cart-table-description-product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.cart-table-description-product div > p {
  color: #6f6e6e;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
}
.cart-table-description-product div > p span {
  font-weight: 400;
}
.cart-table tr {
  height: 162px;
  border-bottom: 1px solid #eaeaea;
}
.cart-table tr:first-of-type {
  height: 53px;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.cart-table tr td input {
  width: 54px;
  height: 30px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-align: center;
}
.cart-table tr td:first-of-type {
  width: 460px;
  text-align: left;
}
.cart-table tr td:last-of-type {
  width: 53px;
}

.cart-button {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.cart-button button {
  color: #4a4a4a;
  font-size: 14px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 0 39px;
}
.cart-button button:hover {
  background-color: #f16d7f;
  color: #ffffff;
}

.cart-form {
  display: flex;
  justify-content: space-between;
}
.cart-form input {
  width: 317px;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  line-height: 45px;
  padding: 0 17px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.cart-form-shipping select {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  width: 355px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 0 15px;
  -webkit-appearance: none;
}
.cart-form button {
  width: fit-content;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  line-height: 35px;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 3px;
  padding: 0 15px;
}
.cart-form-discount p + p {
  color: #000000;
  font-size: 14px;
  text-transform: none;
  line-height: 14px;
  padding: 6px 0 24px 0;
}
.cart-form-shipping, .cart-form-discount, .cart-form-total {
  display: flex;
  flex-flow: column;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
}
.cart-form-total {
  height: fit-content;
  padding: 40px 44px 42px 44px;
  background-color: #f5f3f3;
  text-align: right;
  align-items: flex-end;
  margin-top: 22px;
}
.cart-form-total p {
  line-height: 16px;
  padding-bottom: 22px;
}
.cart-form-total p:first-of-type {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  padding-bottom: 14px;
}
.cart-form-total button {
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  padding: 18px 42px;
  border: none;
}
.cart-form-total button:hover {
  box-shadow: 2px 2px 5px 0 #F15056;
  border: none;
}
.cart-form-total div + div {
  padding-top: 17px;
  border-top: 1px solid #e2e2e2;
}

.checkout details {
  border-bottom: 1px solid #e8e8e8;
}
.checkout summary {
  line-height: 72px;
}
.checkout-content {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 79px;
}
.checkout-content-registry ul {
  margin: 18px 0;
}
.checkout-content-registry ul:last-of-type {
  margin-bottom: 18px;
}
.checkout-content-registry ul li {
  line-height: 36px;
  display: flex;
  align-items: center;
}
.checkout-content-registry ul li input {
  margin-right: 14px;
}
.checkout-content-registry, .checkout-content-log-in {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-size: 13px;
  color: #222222;
  font-weight: 400;
}
.checkout-content-registry p, .checkout-content-log-in p {
  font-weight: 300;
  line-height: 27px;
}
.checkout-content-registry p + p, .checkout-content-log-in p + p {
  color: #b3b2b2;
  text-transform: none;
}
.checkout-content-log-in form > p {
  text-transform: none;
}
.checkout-content-log-in input {
  width: 390px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 0 15px;
  line-height: 45px;
  font-size: 14px;
  margin-bottom: 10px;
}
.checkout-content-log-in label {
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  line-height: 64px;
}
.checkout-content-log-in div {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: none;
}
.checkout a {
  color: #b3b2b2;
  font-weight: 400;
  line-height: 35px;
  text-transform: none;
}
.checkout button {
  width: 180px;
  margin-right: 32px;
  margin-top: 32px;
  line-height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
